<div class="list-block media-list movie-list">
	<div class="list-block media-list">
	  	<ul>
	  		
	  		{{#each results}}
	  		{{#if poster_path}}
		    <li>
				<a href="movie.html?id={{id}}" class="item-link item-content">
					<div class="item-media"><img src="https://image.tmdb.org/t/p/w185{{poster_path}}" width="100"></div>
					<div class="item-inner">
						<div class="item-title-row">
							<div class="item-title">{{title}}</div>
						</div>
						<div class="item-movie-info">
							
							{{#xif " this.vote_average > '0' && this.vote_average <= '2' "}}
							<div class="item-movie-info-rating">
								<i class="icon ion-android-star"></i>
							</div>
							{{/xif}}
							
							{{#xif " this.vote_average > '2' && this.vote_average <= '4' "}}
							<div class="item-movie-info-rating">
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
							</div>
							{{/xif}}
							
							{{#xif " this.vote_average > '4' && this.vote_average <= '6' "}}
							<div class="item-movie-info-rating">
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
							</div>
							{{/xif}}
							
							{{#xif " this.vote_average > '6' && this.vote_average <= '8' "}}
							<div class="item-movie-info-rating">
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
							</div>
							{{/xif}}
							
							{{#xif " this.vote_average > '8' && this.vote_average <= '10' "}}
							<div class="item-movie-info-rating">
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
								<i class="icon ion-android-star"></i>
							</div>
							{{/xif}}
							
							<div class="item-movie-info-date">
								{{prettifyDate release_date}}
							</div>
							
						</div>
					</div>
				</a>
		    </li>
		    {{/if}}
		    {{/each}}
		    
		</ul>
	</div>
</div>